.overview {
  /* display: grid;
  grid-template-areas:
    'header header header'
    '. content content'
    'footer footer footer';
  grid-template-rows: auto;
  grid-template-columns: auto 1fr 1fr;
  height: 100vh;
  width: 100vw; */
}

.combat {
  grid-area: header;
}

.staff {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

.card {
  padding: 8px 12px;
  border-radius: 8px;
  background: #1e293b;
  color: #fff;
  min-width: 160px;
  text-align: center;
  font-size: 12px;
}

.card.unit {
  background: #334155;
}

.card.root {
  background: #020617;
  font-size: 14px;
}

.leaf-list {
  background: #0f172a;
  border-radius: 6px;
  font-size: 11px;
  text-align: left;
  flex-direction: column;
  display: flex;
}

.leaf-item {
  padding: 2px 0;
  opacity: 0.9;
  color: aliceblue;
  border-bottom: 1px solid #334155;
}
